
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
  // $black: #000;
  // $darkerGray: #222;
  // $darkGray: #333;
  // $gray: #666;
  // $lightGray: #eee;
  // $white: #fff;
$black: #000;
$darkerGray: #000;
$darkGray: #000;
$gray: #000;
$lightGray: #000;
$white: #fff;


// Font stacks
$helvetica: 'Inter', sans-serif;
$helveticaNeue: 'Inter', sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
